<div class="page-header">
  <h2>Админка скидочного раздела</h2>
</div>

<ul>
  <li><h4><%=link_to "Скидки", url_for(:controller=>'discounts',:action=>'index')%></h4></li>
  <li><h4><%=link_to "Разделы скидок", url_for(:controller=>'discount_categories',:action=>'index')%></h4></li>
</ul>